<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>154524312582-gr2fr58dg2gk2gdn1uoi5e92hkd22vg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154524312582-gr2fr58dg2gk2gdn1uoi5e92hkd22vg4</string>
	<key>API_KEY</key>
	<string>AIzaSyA-CnWJK-Yd4n4qJiz4AK6cQcqPI_vumDg</string>
	<key>GCM_SENDER_ID</key>
	<string>154524312582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tebeen.EasyLearn</string>
	<key>PROJECT_ID</key>
	<string>easylearn-ec3b3</string>
	<key>STORAGE_BUCKET</key>
	<string>easylearn-ec3b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:154524312582:ios:04c5b4a0c21c8cf3</string>
	<key>DATABASE_URL</key>
	<string>https://easylearn-ec3b3.firebaseio.com</string>
</dict>
</plist>