<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>867480175020-t1uqda4hmntb41q2q4eodevqk9uoob9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867480175020-t1uqda4hmntb41q2q4eodevqk9uoob9b</string>
	<key>API_KEY</key>
	<string>AIzaSyBywp0jG_nu9c6tKgs3JJUZq1UxCYCu2tw</string>
	<key>GCM_SENDER_ID</key>
	<string>867480175020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tebeen.EasyLearn</string>
	<key>PROJECT_ID</key>
	<string>easylearn-fe53b</string>
	<key>STORAGE_BUCKET</key>
	<string>easylearn-fe53b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:867480175020:ios:04c5b4a0c21c8cf3</string>
	<key>DATABASE_URL</key>
	<string>https://easylearn-fe53b.firebaseio.com</string>
</dict>
</plist>